.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
    margin-right: 20px;
}

.sidenav {
    width: 300px;
}

.logo-container {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 55.3px;
    display: flex;
    align-items: center;

    img {
        height: 40px;
    }
}

mat-toolbar, mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

        &:focus {
            outline: none;
        }
    }
}

.router-container {
    padding-top: 16px;
    padding-left: 56px;
    padding-right: 56px;
}