<app-bar-chart></app-bar-chart>

<div class="requests-container">
    <h1>December</h1>
    <div class="requests-container-content">
        <mat-card>
            <h2 class="mb-32">Unprocessed leads</h2>
            <p>11</p>
        </mat-card>

        <mat-card>
            <h2 class="mb-32">Escalated leads</h2>
            <p>3</p>
        </mat-card>

        <mat-card>
            <h2 class="mb-32">Processed leads</h2>
            <p>4</p>
        </mat-card>
    </div>
</div>

<div class="requests-container">
    <h1>December Sales</h1>
    <div class="requests-container-content">
        <mat-card>
            <h2 class="mb-32">Sold cars</h2>
            <p>103</p>
        </mat-card>

        <mat-card>
            <h2 class="mb-32">Sold by leads</h2>
            <p>80</p>
        </mat-card>

        <mat-card>
            <h2 class="mb-32">Lost leads</h2>
            <p>65</p>
        </mat-card>
    </div>
</div>